<svg class="inline cursor-pointer" width='24' height='24' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><rect width='24' height='24' stroke='none' fill='#000000' opacity='0'/>
    <g transform="matrix(1 0 0 1 12 12)" >
        <path style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" translate(-12, -12)" d="M 17 4 L 17 18.967 L 12.788 17.162 L 12 16.824 L 11.212 17.162000000000003 L 7 18.967 L 7 4 L 17 4 M 17 2 L 7 2 C 5.9 2 5 2.9 5 4 L 5 22 L 12 19 L 19 22 L 19 4 C 19 2.9 18.1 2 17 2 L 17 2 z" stroke-linecap="round" />
    </g>
</svg>