<html>
<head>
    <title>arxiv-gpt</title>
    <!-- Add your CSS and other common elements here -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="p-8">
    <div>
        <div class="flex flex-row">
            <h1 class="text-4xl mb-4 px-8 font-black text-emerald-500">arxiv-gpt</h1> 

            <!-- <a class="px-3 py-1.5 font-medium text-gray-800 dark:text-gray-200 bg-gray-100 dark:bg-gray-800 rounded-lg capitalize" href="/" aria-current="page">Home</a> -->
            <div class="mx-32"></div>
            <div class="py-3">
                <a class="text-md px-3 py-1.5 text-gray-500 dark:text-gray-400 rounded-lg capitalize hover:bg-gray-100 dark:hover:bg-gray-800 rounded-lg" href="/" aria-current="page">Home</a>
                <a class="text-md px-3 py-1.5 text-gray-500 dark:text-gray-400 rounded-lg capitalize hover:bg-gray-100 dark:hover:bg-gray-800 rounded-lg" href="/authors" class="">Authors</a> 
                <a class="text-md px-3 py-1.5 text-gray-500 dark:text-gray-400 rounded-lg capitalize hover:bg-gray-100 dark:hover:bg-gray-800 rounded-lg" href="/topics" class="">Topics</a> 
                <a class="text-md px-3 py-1.5 text-gray-500 dark:text-gray-400 rounded-lg capitalize hover:bg-gray-100 dark:hover:bg-gray-800 rounded-lg" href="/papers" class="">Papers</a> 
            </div>
        </div>
        <div class="content container">
            <!-- This is where the content of the specific pages will be inserted -->
            {% block content %}{% endblock %}
        </div>
        <!-- Add your JavaScript and other common elements here -->
    </div>
</body>
</html>