{% extends "base.html" %}

{% block content %}
    <div class="p-16">
        <p class="mb-2">{{ saved_paper_ids | length}} saved papers.</p>
        <br>
        {% if saved_paper_ids | length == 0 %}
            Select some papers, topics, or authors to see recommendations.
        {% endif %}

        {% if closest_papers | length > 0 %}
            <h1 class="text-2xl my-4"><span class="text-rose-900 font-black">Research area name:</span> {{title}} </h1>
            <p class="text-md text-gray-500 my-4">{{summary}}</p>
        {% endif %}
        {% for paper in closest_papers %}
            <div class="m-8 bg-white hover:bg-gray-200 shadow-lg rounded-lg overflow-hidden p-6">
                <div>
                    {% set id=paper.id %}
                    <span class="text-3xl font-bold mb-4 text-gray-900">{{paper.title}}</span>
                </div>
                <p class="text-blue-500 font-semibold"><a href="https://arxiv.org/abs/{{paper.id}}">Link</a></p>
                {% set score=paper.score %}
                <p class="text-emerald-600 mb-2 font-semibold">Score: {{paper.score | round(precision=3)}}</p>
                {% include './components/progress_bar.html' %}
            </div>
        {% endfor %}
    </div>
{% endblock %}